<ul>
    <li *ngFor="let student of students">
        <h2>{{student.studentId}}</h2>
        <!-- <p> {{student. name | uppercase}} {{student.surname}}</p> -->
        <p class="student-name"> {{student.name | uppercase}} {{student.surname}}</p>
        <p *ngIf="student.gpa > 2.5">Good Student who get grade {{student.gpa | number: '1.2-2'}}</p>
        <p *ngIf="student.gpa <= 2.5">Bad Student who get grade {{student.gpa | number: '1.2-2'}}</p>
        <div class="row">
            <!-- <button type="button" class="btn btn-primary btn-xs col-md-1" (click)="upQuantity()">+</button> -->
            <!-- <div class="col-md-1"> -->
            <button type="button" class="btn btn-primary btn-xs col-md-1" (click)="downQuantity(student)">-</button>

            <div class="col-md-1" (mouseover)="getCoord($event)">
                {{student.penAmount}}
            </div>
            <button type="button" class="btn btn-primary btn-xs col-md-1" (click)="upQuantity(student)">+</button>

            <button type="button" class="btn btn-primary btn-xs col-xs-1" (click)="resetQuantity(student)">reset</button>

        </div>
        <div>
            <!-- <img src={{student.image}}/> -->
            <img [src]=student.image title="{{student.name}}" />
        </div>

        <div>
            <p>Enrolled course {{student.course}}</p>
        </div>
    </li>

    <div *ngFor="let student of students">
        <!-- <li [hidden]="student.gpa < 1.5"> -->
        <li [class.featured]="student.featured">
            <h2>{{student.studentId}}</h2>
        </li>
    </div>
</ul>
<!-- <p> The average gpa is {{averageGpa()}} </p> -->
<p class="grade"> The average gpa is {{averageGpa()}} </p>